// Обнуляющие стили========================================================================================
@import 'nullstyle.scss';

//Шрифты========================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
// Основные контейнеры========================================================================================================================================================
html,
body {
	max-width: 100%;
	font-family: 'Tinos', serif;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	width: 1110px;
	margin: 0 auto;
}

//Переменные========================================================================================================================================================
// $os: 'Open Sans', sans-serif;
//Header========================================================================================================================================================
.header {
	background-image: url(../image/header/bg.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	&__line {
		padding: 50px 0 0 0;
		display: flex;
		align-items: center;
		// justify-content: space-between;
	}

	&__logo {
		margin: 0 268px 0 0;
	}

	&__nav {
	}

	&__cart {
	}

	&__phone {
	}

	&__btn {
	}
}

.nav {
	&__link {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		color: #ffffff;
		transition: color 0.3s linear;

		margin: 0 25px 0 0;
		&:last-child {
			margin: 0 45px 0 0;
		}
		&:hover {
			color: #ff7400;
		}
	}
}

.cart {
	position: relative;
	border-right: 1px solid #ffffff;
	padding-right: 10px;
	height: 50px;
	margin: 0 30px 0 0;
	&__img {
		position: absolute;
		top: 18px;
		right: 18px;
	}
}

.phone {
	color: #ffffff;
	font-family: 'Open Sans';
	margin: 0 45px 0 0;

	&__holder {
		display: flex;
		align-items: center;
	}

	&__pic {
		margin: 0 8px 0 0;
	}

	&__number {
	}

	&__number-link {
		color: #ffffff;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		transition: color 0.3s linear;

		&:hover {
			color: #ff7400;
			text-decoration: underline;
		}
	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		max-width: 155px;
	}
}

.btn-header {
	display: inline-block;
	background-color: #ff7400;
	text-align: center;
	padding: 14px 18px;
	&__text {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		color: #ffffff;
		transition: background-color 0.2s linear;
	}

	&:hover {
		background-color: #ffa65d;
	}
}

//Header-down========================================================================================================================================================
.header-down {
	position: relative;
	padding: 0 0 20px 0;
	&__text {
	}
}

.text-header {
	text-align: center;
	position: absolute;
	left: 0;
	margin: 205px 0 0 0;
	&__title {
		font-weight: 400;
		font-size: 50px;
		line-height: 57px;
		color: #d67e35;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 80px;
		line-height: 92px;
		color: #d67e35;
	}

	&__text {
		position: relative;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #ffffff;
		margin: 0 0 20px 0;
		&::after {
			position: absolute;
			content: '';
			height: 2px;
			width: 61px;
			background-color: #fff;
			top: 10px;
			left: 90px;
		}
		&::before {
			position: absolute;
			content: '';
			height: 2px;
			width: 61px;
			background-color: #fff;
			top: 10px;
			left: 331px;
		}
	}
}

//cards========================================================================================================================================================

.cards {
	margin: -80px 0 150px 0;
	&__item {
		display: flex;
		text-align: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__cart {
	}
}

.cart-item {
	background-color: #ffffff;
	min-width: 349px;
	// border: 1px solid #0a0909;
	margin: 0 30px 0 0;
	padding: 5px 25px;
	box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
	&:last-child {
		margin: 0 0 0 0;
	}
	&__img {
		margin: 48px 10px 4px 10px;
	}

	&__title {
		font-weight: 400;
		font-size: 26px;
		line-height: 30px;
		color: #2c2c2c;
		margin: 0 0 20px 0;
	}
	&__title span {
		color: #bc9060;
		margin-bottom: 20px;
	}

	&__text {
		font-weight: 400;
		font-size: 26px;
		line-height: 30px;
		color: #656363;
		margin-bottom: 25px;
		max-width: 290px;
	}
}

//Story========================================================================================================================================================

.story {
	margin: 0 0 122px 0;
	padding: 0 10px;
	&__items {
		display: flex;
		justify-content: space-between;
	}

	&__stats {
		margin: 16px 0 0 0;
		// padding: 0 10px;
	}

	&__pic {
	}
}

.stats-story {
	text-align: center;
	&__item {
	}

	&__title {
		margin: 0 0 20px 0;
		font-weight: 400;
		font-size: 54px;
		line-height: 62px;
		color: #000000;
		span {
			color: #d67e35;
		}
	}

	&__text {
		max-width: 444px;
		margin: 0 0 80px 0;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #656363;
	}

	&__stats {
		display: flex;
		justify-content: center;
	}

	&__info {
		margin: 0 40px 0 0;
	}

	&__number {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 54px;
		color: #bc9060;
	}

	&__p {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
		color: #000000;
	}
}

.pic-story {
	&__img {
	}
}

//bg-story========================================================================================================================================================

.bg-story {
	padding: 80px 0 104px 0;
	background-image: url(../image/bg-story/bg-story.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 0 132px 0;
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__desc {
	}

	&__btn {
		margin-right: 20px;
	}
}

.desc-story {
	max-width: 601px;
	&__title {
		font-weight: 400;
		font-size: 52px;
		line-height: 60px;
		color: #d67e34;
		margin: 0 0 20px 0;
	}

	&__subtitle {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
		color: #ffffff;
	}
}
.btn-story-item {
	&__btn {
	}
}

//our-menu========================================================================================================================================================

.our-menu {
	margin: 0 0 150px 0;
	&__title {
		font-size: 54px;
		line-height: 62px;
		color: #000000;
		text-align: center;
		margin: 0 0 139px 0;
		span {
			color: #d67e34;
		}
	}

	&__item {
		display: flex;
	}
}
.menu-item {
	&__one {
		margin: 0 30px 0 0;
	}

	&__two {
	}
}
.desc-menu {
	&__item {
		display: flex;
		align-items: center;
		margin: 0 0 29px 0;
		&:last-child {
			margin: 0;
		}
	}

	&__pic {
		margin: 0 30px 0 0;
	}

	&__name {
		font-size: 26px;
		line-height: 30px;
		color: #000000;
	}
}

//Menu========================================================================================================================================================
.recom-active {
	position: absolute;
	background-color: #d67e34;
	padding: 7px 11px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: #000000;
	z-index: 1;
	top: 0;
	left: 0;
}

.menu {
	padding: 100px 0 226px 0;
	background-image: url(../image/menu/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	&__title {
		font-size: 54px;
		line-height: 62px;
		color: #ffffff;
		text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
		margin: 0 0 138px 0;
	}

	&__cards {
		display: flex;
		flex: 1 1 33%;
	}
}

.cards-items {
	&__item {
		position: relative;
		background-color: #ffffff;
		padding: 80px 63px 43px 63px;
		margin: 0 30px 0 0;
		&:last-child {
			margin: 0;
		}
	}

	&__image {
		position: relative;
		margin: 0 0 22px 0;
	}

	&__img {
	}

	&__img2 {
		position: absolute;
		bottom: -5px;
		right: -10px;
	}

	&__price {
		position: absolute;
		bottom: 28px;
		right: 20px;
		font-family: 'Cookie';
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 33px;
		color: #ffffff;
	}

	&__title {
		font-size: 26px;
		line-height: 30px;
		color: #000000;
		margin: 0 0 15px 0;
	}

	&__subtitle {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 22px;
		color: #000000;
		margin: 0 auto 22px auto;
		max-width: 180px;
	}

	&__btn {
		display: inline-block;
		padding: 14px 68px;
		background-color: #d67e34;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		color: #ffffff;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	}
}

//reviews========================================================================================================================================================

.reviews {
	padding: 105px 0;
	background-color: #e5e5e5;
	text-align: center;
	&__text {
		max-width: 868px;
		margin: 0 auto 25px auto;
		font-family: 'Open Sans';
		font-style: italic;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
		text-align: center;
		color: #000000;
	}

	&__guest {
	}
}
.guest {
	&__img {
		margin: 0 0 16px 0;
	}

	&__name {
		position: relative;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
		color: #000000;
		&::after {
			position: absolute;
			content: '';
			width: 5px;
			height: 5px;
			background-color: #000000;
			border-radius: 50%;
			top: 0;
			left: 0;
		}
	}
}

//Gallery========================================================================================================================================================

.gallery {
	padding: 100px 0;
	&__title {
		font-size: 54px;
		line-height: 62px;
		color: #000000;
		text-align: center;
		margin: 0 0 60px 0;
		span {
			color: #d67e34;
		}
	}

	&__items {
		display: flex;
		flex: 1 1 50%;
	}

	&__item-left {
		flex: 1 1 50%;
		margin: 0 30px 0 0;
	}

	&__item-right {
		flex: 1 1 50%;
	}
}

.g-left-item {
	&__top {
		flex: 1 1 100%;
		margin: 0 0 30px 0;
	}

	&__img-t {
		width: 100%;
	}

	&__bottom {
		display: flex;
		flex: 1 1 50%;
	}

	&__img-b {
		width: 100%;
		margin: 0 30px 0 0;
		&:last-child {
			margin: 0;
		}
	}
}

.g-right-item {
	&__top {
		display: flex;
		flex: 1 1 50%;
		margin: 0 0 30px 0;
	}

	&__img-t {
		width: 100%;
		margin: 0 30px 0 0;
		overflow: hidden;
		&:last-child {
			margin: 0;
		}
	}

	&__bottom {
		display: flex;
		flex: 1 1 100%;
	}

	&__img-b {
		width: 100%;
	}
}
