// Обнуляющие стили========================================================================================
@import 'nullstyle.scss';

//Шрифты========================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
// Основные контейнеры========================================================================================================================================================
html,
body {
	max-width: 100%;
	font-family: 'Tinos', serif;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	margin: 0 166px;
}

//Переменные========================================================================================================================================================
// $os: 'Open Sans', sans-serif;
//Header========================================================================================================================================================
.header {
	background-image: url(../image/header/bg.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	&__line {
		padding: 50px 0 0 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		margin: 0 268px 0 0;
	}

	&__nav {
	}

	&__cart {
	}

	&__phone {
	}

	&__btn {
	}
}

.nav {
	&__link {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		color: #ffffff;
		transition: color 0.3s linear;

		margin: 0 25px 0 0;
		&:last-child {
			margin: 0 70px 0 0;
		}
		&:hover {
			color: #ff7400;
		}
	}
}

.cart {
	position: relative;
	border-right: 1px solid #ffffff;
	padding-right: 10px;
	height: 50px;
	margin: 0 30px 0 0;
	&__img {
		position: absolute;
		top: 18px;
		right: 18px;
	}
}

.phone {
	color: #ffffff;
	font-family: 'Open Sans';
	margin: 0 45px 0 0;

	&__holder {
		display: flex;
		align-items: center;
	}

	&__pic {
		margin: 0 8px 0 0;
	}

	&__number {
	}

	&__number-link {
		color: #ffffff;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		transition: color 0.3s linear;

		&:hover {
			color: #ff7400;
			text-decoration: underline;
		}
	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		max-width: 155px;
	}
}

.btn-header {
	display: inline-block;
	background-color: #ff7400;
	padding: 14px 18px;
	&__text {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		color: #ffffff;
		transition: background-color 0.2s linear;
	}

	&:hover {
		background-color: #ffa65d;
	}
}

//Header-down========================================================================================================================================================
.header-down {
	position: relative;
	&__text {
	}
}

.text-header {
	text-align: center;
	position: absolute;
	left: 0;
	margin: 205px 0 0 0;
	&__title {
		font-weight: 400;
		font-size: 50px;
		line-height: 57px;
		color: #d67e35;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 80px;
		line-height: 92px;
		color: #d67e35;
	}

	&__text {
		position: relative;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #ffffff;
		margin: 0 0 20px 0;
		&::after {
			position: absolute;
			content: '';
			height: 2px;
			width: 61px;
			background-color: #fff;
			top: 10px;
			left: 90px;
		}
		&::before {
			position: absolute;
			content: '';
			height: 2px;
			width: 61px;
			background-color: #fff;
			top: 10px;
			left: 331px;
		}
	}
}

//cards========================================================================================================================================================

.cards {
	margin: -105px 0 0 0;
	&__item {
		display: flex;
		text-align: center;
		justify-content: space-between;
	}

	&__cart {
	}
}

.cart-item {
	background-color: #ffffff;
	max-width: 349px;
	// border: 1px solid #0a0909;
	padding: 5px 25px;
	box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
	&__img {
		margin: 48px 10px 4px 10px;
	}

	&__title {
		font-weight: 400;
		font-size: 26px;
		line-height: 30px;
		color: #2c2c2c;
		margin: 0 0 20px 0;
	}
	&__title span {
		color: #bc9060;
		margin-bottom: 20px;
	}

	&__text {
		font-weight: 400;
		font-size: 26px;
		line-height: 30px;
		color: #656363;
		margin-bottom: 25px;
	}
}
